[run]
source =
    ; Main package to cover
    efficient_longctx
omit =
    ; Tests and test-related files
    */tests/*
    */test_*
    */__pycache__/*
    ; Constants file -- no need to cover
    */constants.py
    ; Training script -- now covered by tests
    ; */training/train.py

[report]
show_missing = true
exclude_also =
    ; Exclude debugging statements
    \s+def __repr__
    if self.debug:
    if settings.DEBUG
    ; Non runnable code
    if 0:
    if __name__ == .__main__.:
    ^def main\(
    ; Don't complain if tests don't hit defensive assertions
    raise AssertionError
    raise NotImplementedError
    ; Abstract method and not implemented methods
    @(abc\\.)?abstractmethod
    ; Constants
    __version__
    __author__
    __email__
